// https://css-tricks.com/the-sass-ampersand/
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
  }
}

@mixin orientation($o) {
  @if $o==portrait {
    @media only screen and (orientation: portrait) {
      @content;
    }
  } @else if $o==landscape {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
}

@mixin mydevice($d) {
  @if $d==desktop {
    .isDesktop & {
      @content;
    }
  } @else if $d==mobile {
    .isMobile & {
      @content;
    }
  } @else if $d==tablet {
    .isTablet & {
      @content;
    }
  } @else if $d==phone {
    .isPhone & {
      @content;
    }
  } @else if $d==safari {
    .isSafari & {
      @content;
    }
  }
}

@mixin minscreenw($point) {
  @media (min-width: $point) {
    @content;
  }
}

@mixin maxscreenw($point) {
  @media (max-width: $point) {
    @content;
  }
}

@mixin mscreenw($point1, $poin2) {
  @media (min-width: $point1) and (max-width: $point2) {
    @content;
  }
}
@mixin minscreenh($point) {
  @media (min-height: $point) {
    @content;
  }
}

@mixin myprint {
  @media print {
    @content;
  }
}

@mixin myshadow($style) {
  @if $style==1 {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  } @else if $style==2 {
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.12);
  }
}

@mixin myscrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}

@mixin myscrollbar2 {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}
