.main-btn {
  cursor: pointer;
}

.icon-btn {
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 3px solid #a76d3e;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
}

.chat-launcher {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 55px;
  height: 55px;
  z-index: 10;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  background: #fff;
  color: #000;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.3s;
  animation: fadeIn 0.3s ease-in-out;

  &:before,
  &:after {
    font-family: "Material-Design-Iconic-Font";
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 5px;
    transition: transform 180ms linear, opacity 130ms linear;
  }

  &:before {
    content: "\f2fc";
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  &:after {
    content: "\f2f9";
    opacity: 0;
    transform: rotate(-30deg);
  }

  &.active {
    &:before {
      opacity: 0;
      transform: rotate(70deg) scale(0);
    }

    &:after {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .list-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 65px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &__item {
      width: 45px;
      height: 45px;
      margin: 7px 0;
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s;

      img {
        width: 100%;
      }
    }
  }

  // Mobile
  @include mydevice(mobile) {
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 32px;
    border-radius: 0;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    display: none;
    justify-content: center;
    align-items: center;

    &:before,
    &:after {
      display: none;
    }

    .list-socials {
      flex-direction: row;
      column-gap: 32px;
      position: relative !important;
      top: -16px;
      bottom: auto;
      opacity: 1;
      visibility: visible;

      &__item {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0;

        &:nth-child(2) {
          width: 38px;
          height: 38px;
        }
      }
    }
  }
}

// Make sure it's visible when active globally
#chat-launcher.show {
  display: flex;
}