.main-btn {
  cursor: pointer;
}

.icon-btn {
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 3px solid #a76d3e;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
}

.chat-launcher {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 55px;
  height: 55px;
  z-index: 10;
  background: #fff;
  color: #000;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);

  @include mydevice(mobile) {
    bottom: 0;
    left: auto;
    right: auto;
    border-radius: 0;
    border: none;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
      display: none;
    }

    .list-socials {
      opacity: 1;
      visibility: visible;
      flex-direction: row;
      column-gap: 32px;
      position: relative !important;
      top: -16px;
      bottom: auto;

      &__item {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        margin: 0;

        &:nth-child(2) {
          width: 60px;
          height: 60px;
        }
      }
    }
  }

  &:before,
  &:after {
    font-family: "Material-Design-Iconic-Font";
    font-size: 30px;
    position: absolute;
    -webkit-transition: transform 180ms linear, opacity 130ms linear;
    transition: transform 180ms linear, opacity 130ms linear;
  }

  &:before {
    content: "\f2fc";
    top: 5px;
    left: 20px;
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }

  &:after {
    content: "\f2f9";
    top: 5px;
    left: 20px;
    opacity: 0;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  &:hover {
    //background: lighten($third-color, 8%);
  }

  &.active:before {
    opacity: 0;
    -webkit-transform: rotate(70deg) scale(0);
    transform: rotate(70deg) scale(0);
  }

  &.active:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .list-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 65px;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &__item {
      //background-color: #fff;
      width: 45px;
      height: 45px;
      transition: all 0.3s;
      margin: 7px 0;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}