.filter-box {
  >li {
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      right: -10px;
      top: 10px;
      width: 1px;
      height: 60%;
      background-color: #b3b3b3;
    }

    &:hover {
      background-color: var(--sds-color-background-default-secondary);
      border-radius: 35px;

      &::after {
        display: none;
      }

      >ul {
        opacity: 1;
        visibility: visible;
      }

      .range-price {
        opacity: 1;
        visibility: visible;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    >ul {
      ::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #fff;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #a8abb4;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #76777a;
      }

      >li {
        border-bottom: 1px solid #e5e5e5;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: var(--sds-color-background-default-secondary);
        }
      }
    }
  }
}

.price-form {
  .max-text,
  .min-text {
    color: var(--primary-500);
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #c69463;
    border: 4px solid #8b5e3c;
    border-radius: 9999px;
    cursor: pointer;
    margin-top: -14px;
  }

  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #c69463;
    border: 4px solid #8b5e3c;
    border-radius: 9999px;
    cursor: pointer;
    margin-top: -14px;
  }

  input[type="text"] {
    flex: 1;
    padding: 0.375rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    text-align: center;
    font-size: 0.875rem;
  }

  .arrow {
    color: #6b7280;
    font-size: 1rem;
  }

  .price-radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span:first-child {
        font-weight: 500;
      }

      input[type="radio"] {
        display: none;

        &.peer:checked+.custom-radio {
          background-color: #a36b3c;

          .dot {
            background-color: white;
          }
        }
      }

      .custom-radio {
        width: 20px;
        height: 20px;
        border: 2px solid #a36b3c;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 9999px;
        }
      }
    }
  }
}