@keyframes rotateLight {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@layer utilities {
  .animate-rotate {
    animation: rotateLight 2s ease-in-out infinite;
  }
}