.swiper-pagination {
  bottom: 20px !important;
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: #fff;
    &-active {
      background-color: #fff;
    }
  }
}
.arrow-animation {
  transition: all 0.4s ease-in-out;
  animation-name: scroll_down;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.productSlider {
  padding-bottom: 20px !important;
}

.albumSwiper {
  .swiper-pagination {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 70px;
    border-radius: 5px;
    padding: 10px 12px;
    right: 10px;
    left: auto;
  }
}
